<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>WebRef, the online reference manager</title>

    <!--    Vue.js  -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>

    {% load static %}
    <!--    CSS     -->
    <link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
    <!--    Javascript  -->
    <script src="{% static 'scripts/index.js' %}" async></script>
</head>

<body>
    <div id="top">
        <h1>WebRef</h1>
        <div id="user-auth">
        {% if user.is_authenticated %}
            <p>欢迎，{{ user.username }}</p>
            <a href="{% url 'logout' %}">退出</a>
        {% else %}
            <p>请先<a href="{% url 'login' %}">登录</a></p>
        {% endif %}
        </div>
    </div>

    <div id="sidebar">
        <div id="library-edit">
            <button @click="add">新建</button>
            <button @click="edit">编辑</button>
            <button>删除</button>
        </div>

        <div id="libs">
            {% for lib in libraries %}
            <div class="libtab" id="lib-{{ lib.id }}" @click="activateTab">
                <p v-if="isDisplay" :class="{ active: isActive }">{{ lib.library_name }}</p>
                <form action="{% url 'ref:libedit' lib.id %}" method="POST" v-else>
                    {% csrf_token %}
                    <input type="text" name="editname" value="{{ lib.library_name }}" maxlength="100" required>
                    <button type="submit">确认</button>
                </form>
            </div>
            {% endfor %}
        </div>
        <form id="new-lib" action="{% url 'ref:create' %}" method="POST" v-if="isNewLib">
            {% csrf_token %}
            <input type="text" name="libname">
            <button type="submit">确定</button> 
        </form>
    </div>

    <div id="content">
        <div id="ref-edit">
            <button>添加</button>
            <button>编辑</button>
            <button>生成引用</button>
            <button>删除</button>
        </div>

        <table id="ref-table">
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Type</th>
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Journal/Book Title</th>
                <th scope="col">year</th>
                <th scope="col">Comment</th>
            </tr>
        </table>
    </div>
</body>

</html>